doctype html
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style  
            include bookASession.css
        body

            - let number = 0; 
            div(class="column right", id="trainersSchedules")
                h2 Book a Private Session

                each trainer in trainerSchedules
                    p ______________________
                    p(id="trainerName") Trainer: #{trainer.trainerFirst} #{trainer.trainerLast}
                    p(id="sessionFee") Session Fee: $#{trainer.trainerFee}
                    p Times Available to Book 
                    each time in trainer.trainerSchedule
                        p(id="date" + number) Date: #{time.dateofavailability} 
                        p(id="start" + number) Start Time: #{time.starttime}
                        p(id="end" + number) End Time: #{time.endtime}
                        button(id="bookSlot" onclick='memberBookSlot(' + number + ')') Book Slot
                        - number = number + 1 
            div(class="column middle")
                p             
                p              
            div(class="column left", id="upcomingSessions")
                h2 Upcoming Sessions
                each upcomingClass in memberClasses 
                    p _______________________________
                    h3 Session with #{upcomingClass.firstname} #{upcomingClass.lastname}
                    p Date: #{upcomingClass.sessiondate} 
                    p Start Time: #{upcomingClass.sessiontime}
                    p Duration: #{upcomingClass.duration}
                    p Amount Due: $#{upcomingClass.sessionfee + upcomingClass.sessionfee}

        script 
            include bookASession.js


