html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style  
            include fitnessAcheivement.css 
        body 
            h2 Fitness Achievements 

            div(class="column left", id='weightSection')
                h3 Weight Goals
                p Current Weight :  #{weight.currentWeight} kg
                p Goal Weight : #{weight.goalWeight} kg
                if weight.currentWeight > weight.goalWeight 
                    p Goal is to lose: #{weight.currentWeight - weight.goalWeight} kg
                else 
                    p Goal is to gain: #{weight.goalWeight - weight.currentWeight} kg 

                label(for="newgoalweight") Add A New Goal Weight 
                input(type="number" id="newgoalweight") 
                button(id="submit" onclick="addNewGoalWeight()") Submit

            
            div(class="column middle", id='liftSection')
                h3 Lifting Goals 
                p _______________________________________
                each lift in allLifts 
                    p #{lift.nameoflift}
                    p Personal Record: #{lift.currentweight} lbs
                    p Date of Personal Record: #{lift.dateoflift}
                    p Last record: #{lift.originalweight} lbs
                    p _______________________________________

                button(id="newPR" onclick="toggleAdd()") Add New Progression

            div(class="column right", id='addingNewPR')
                input(type="text" id="nameOfLift" placeholder="Enter Name of Lift!")
                br
                input(type="date", id="dateoflift", name="dateoflift", placeholder="Enter Date of Lift!")
                br
                input(type="number", id="weight" placeholder="Enter Weight!", min="0")
                button(id="submit" onclick="addNewProgression()") Submit



        script 
            include fitnessAcheivements.js