doctype html
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style   
            include healthInformation.css 
            
        body 
            h2 Health Information
            br
            div(id="memberInfo")
                p First Name: #{firstName}
                p Last Name: #{lastName}
                p Date Of Birth: #{dateOfBirth}
                p Weight: #{weight}
                p Medicine: #{medication} 
                p Height: #{height}

            h4 Add New Information
            input(class="inputs", type="number", id="updatedWeight", placeholder="Enter your new weight: ")
            button(class="buttons", onclick="updateWeight()") Update Weight 
            br
            span#height
            input(class="inputs", type="number", id="updatedHeight", placeholder="Enter your new height: ")
            button(class="buttons", onclick="updateHeight()") Update Height
            br
            

        script 
            include healthInformation.js
