doctype html
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title TITLE OF PROJECT 

        body 
            div(id="information")
            each info in memberInformation 
                h2 Member: #{info.firstname} #{info.lastname}
                p 
                h4 Weight: #{info.memberweight}
                p 
                h4 Height: #{info.memberheight}
                p 
                h4 Medication ID: #{info.medicationid}
